.header__screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--sideSpace);    
}

.header__screen-left {
    font-weight: bolder;
    font-size: 30px;
}

.header__screen-right{
    position: relative;
}

.header__screen-right span:nth-child(2) {
    margin: 0px 20px;
}

.header__screen-right span:nth-child(3) {
    margin-right: 10px;
}

.user__component-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--kakaoLightGrey);
    font-size: 15px;
    margin-bottom: 15px;
    
}

.user__component-display i{
    color: var(--kakaoLightGrey);
    padding-right: 5px;
}

#splash-screen {
    background-color: var(--kakaoYellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.heartbox {
    width: 60px;
    height: 30px;
    background-color: black;
    opacity: 0.3;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:5px;
    bottom:120px;
}

.photobox {
    position: relative;
}

@keyframes heartbeat {
    0%{
        color: white;
        transform:none;
    }
    50%{
        color: tomato;
        transform: scale(1.5);
    }
    100%{
        color: white;
        transform:none;
    }
}

.heartbox:hover i {
    will-change: transform;
    animation: heartbeat 1s linear infinite;
}