
body {
    height: 500vh;
}
.nav {
    background-color: #f8f8f8;
    padding: 25px 45px;
    border-top: 1px solid var(--kakaoLightGrey);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}

.nav__list {
    display: flex;    
    justify-content: space-between;
    align-items: center;    
}

.nav__link-alertnumber {
    width: 18px;
    height: 18px;
    background-color: tomato;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    left: 15px;
    bottom: 1px;
    font-size: smaller;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav__link-reddot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 33px;
    right: 40px;
}